<br><br>
<button [disabled]="clicked" (click)="getCustomers()" class="btn btn-primary">Show customers</button>
<br><br>

<table class="table table-bordered" *ngIf="customers">
  <thead >
    <tr>
      <th scope="col">FirstName</th>
      <th scope="col">LastName</th>
      <th scope="col">Addresse</th>
      <th scope="col">Login</th>
      <th scope="col">Fonction</th>
    </tr>
  </thead>
  <tbody *ngFor="let user of customers">
    <tr>
       <th>{{user.firstName}}</th>
       <th>{{user.lastName}}</th>
       <th>{{user.Addresse}}</th>
       <th>{{user.login}}</th>
      <th>{{user.fonction}}</th> 
    </tr>
    
  </tbody>
</table>